{% extends 'templates/app.twig' %}

{% block content %}
    
    Harmony Framework versi 1

    <img src="{{ asset('image.png') }}">

    <form method="post" action="{{ path_for('home') }}" enctype="multipart/form-data">
        {{ csrf.field|raw }}
        <!-- upload of a single file -->
        <p>
            <label>Add file (single): </label><br/>
            <input type="file" name="example1"/>
        </p>

        <!-- multiple input fields for the same input name, use brackets -->
        <p>
            <label>Add files (up to 2): </label><br/>
            <input type="file" name="example2[]"/><br/>
            <input type="file" name="example2[]"/>
        </p>

        <!-- one file input field that allows multiple files to be uploaded, use brackets -->
        <p>
            <label>Add files (multiple): </label><br/>
            <input type="file" name="example3[]" multiple="multiple"/>
        </p>

        <p>
            <input type="submit"/>
        </p>
    </form>

{% endblock %}