<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Harmony</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">

        <!-- Styles -->
        <style>
            html, body {
                background-color: #7FAAF0;
                color: #fff;
                font-family: 'Julius Sans One', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }
            .full-height {
                height: 100vh;
            }
            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }
            .position-ref {
                position: relative;
            }
            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }
            .content {
                text-align: center;
            }
            .title {
                font-size: 84px;
            }
            .links > a {
                color: #fff;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }
            .m-b-md {
                margin-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <div class="flex-center position-ref full-height">

            <div class="content">
                <div class="title m-b-md">
                    Harmony Framework
                </div>

                <div class="links">
                    <a href="https://harmony-betta.github.io" target="_blank">Documentations</a>
                    <a href="https://github.com/harmony-betta/harmony/issues" target="_blank">Issues</a>
                    <a href="https%3A%2F%2Fjoin.slack.com%2Ft%2Fharmonyframework%2Fshared_invite%2FenQtMzAxNjkxODg5NjY0LTk4ZTZhZjhkMmMwMGZjODQ4ZGYwYWU1ODlkZDljNDZjNjk4MTMyZWEyYWQ0OWRhNjAyNGRjNjNkMTgxY2JlNTU&amp;h=ATM5TvFttvEP23nxOsYZ0Pzy5iSmsj4GvdhCjdnCdPw-PFVLZd06kuFI64fF4aNd8258zYSzsM9BfgFh7emrnxjWjDKM49Yp2zWFndSoee70ArxooTYVXBWTiXl8e2U86R5FZ44AANmT6PD9gTcLBWOaS7Fb9qZWpylTccFJNYuVQ4wKmlIGTAGepat0Cxv7Bjml63AZD2oKZVfwSEGc4sdDXO-0UyfI8nqb-Mtpmlh7u7r84MjQjLwNBC_Lyb1pDPgx7eOf-jRV3pgJTQ3TMwnn6bWg4DjN" target="_blank">Slack Forum</a>
                </div>
            </div>
        </div>
    </body>
</html>