{% extends "layouts/default.twig" %}

{% block title %}Welcome
{% endblock %}

{% block content %}
	<div class="h-screen bg-gradient-to-r from-blue-100 via-blue-300 to-blue-500 flex justify-center align-middle">
		<div class="my-aut flex flex-col justify-center gap-5">
			<img src="{{ public('img/logo-harmony.png') }}" alt="Harmony Framework" class="w-full">
			<div class="flex justify-center gap-3">
				<a href="https://bettadevindonesia.github.io/harmony-docs" target="_blank" class="py-2 px-3 bg-zinc-50 hover:bg-zinc-900 rounded-md font-semibold hover:text-blue-400 delay-100">Documentation</a>
				<a href="https://github.com/harmony-betta/harmony" target="_blank" class="py-2 px-3 bg-zinc-50 hover:bg-zinc-900 rounded-md font-semibold hover:text-blue-400 delay-100">GitHub Repo</a>
			</div>
			<div>
                <p>Try to change conent at:</p>
				<pre class="text-white text-sm font-mono whitespace-normal bg-gray-900 p-4 rounded-md shadow-md">
                    <code>resources/views/welcome.twig</code>
                </pre>
			</div>
		</div>
	</div>
{% endblock %}
