APP_NAME=Harmony
DISPLAY_ERROR=true
DEBUG=true
EDITOR=vscode
APP_HOST=http://localhost:8081

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_NAME=harmony
DB_USER=root
DB_PASS=

EMAIL_HOST=smtp.mailtrap.io
EMAIL_AUTH=true
EMAIL_PORT=465
EMAIL_SECURE=tls
EMAIL_USERNAME=
EMAIL_PASSWORD=