<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harmony Framework</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/app.css">
</head>

<body>

	{% include 'templates/partials/navigation.twig' %}
	<div class="container">
    {% include 'templates/partials/flash.twig' %}
    {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>

        $('.form').submit(function(e){
            e.preventDefault()

            var csrfName = document.getElementById('csrf_name').value;
            var csrfValue = document.getElementById('csrf_value').value;
            var name = document.getElementById('name').value;

            var postData = {"csrf_name" : csrfName,"csrf_value" : csrfValue, "name": name}; 
            $.ajax({
                url : "http://localhost/authenticated/public/ajax/post",
                type: "POST",
                data : postData,
                success: function(data, textStatus, jqXHR)
                {
                    console.log(data);
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(textStatus);
                }
            });

        });

    </script>
</body>

</html>